<nav class="flex flex-row justify-evenly items-center">
    <div>
        <a href="/"><img src="/images/logo.png" alt="logo" width="100" height="100"></a>
    </div>
    <div class="space-x-3">
        <a href="/" class="text-xl hover:underline">Home</a>
        <a href="/blog/add" class="text-xl hover:underline">Create Blog</a>
        <a href="/login" class="text-xl hover:underline">Login</a>
        <a href="/register" class="text-xl hover:underline">Register</a>
    </div>
</nav>