<nav class="flex flex-row justify-evenly items-center bg-gray-50 py-2">
    <div>
        <a href="/"><img src="/images/logo.png" class="rounded-full" alt="logo" width="70" height="70"></a>
    </div>
    <div class="space-x-3">
        <a href="/" class="text-xl hover:text-blue-300">Home</a>
        <a href="/blog/add" class="text-xl hover:text-blue-300">Create Blog</a>
        <% if (userAuth) { %>
            <a href="/account" class="text-xl hover:text-blue-300">Hi, <%= userAuth.name %></a>
            <a href="/logout"
                class="text-xl border-2 border-blue-100 p-2 bg-blue-100 rounded-lg hover:text-white">Logout</a>
            <% } else { %>
                <a href="/login" class="text-xl border-2 border-blue-100 p-2 bg-blue-100 rounded-lg  hover:text-white">Login</a>
                <a href="/register" class="text-xl border-2 border-blue-100 p-2 bg-blue-100 rounded-lg  hover:text-white">Register</a>
                <% } %>
    </div>
</nav>